* {margin: 0; padding: 0;}
.container {max-width: 1200px; width: 80%; margin: auto;}
.d-flex {display: flex;}
p, li, a, input {font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none; }
h1 {font-size: 60px; font-family: 'Open Sans', sans-serif; line-height: 1.2;}
h2 {font-size: 16px; font-family: 'Open Sans', sans-serif;}
h3 {font-size: 25px; font-family: 'Open Sans', sans-serif;}
h4 {font-size: 16px; font-family: 'Open Sans', sans-serif;}
h5 {font-size: 16px; font-family: 'Open Sans', sans-serif;}
.thin {font-weight: 300;}
.regular {font-weight: 400;}
.medium {font-weight: 500;}
.bold {font-weight: 700;}
.poppins {font-family: 'Poppins', sans-serif;}
.opensans {font-family: 'Open Sans', sans-serif;}
.text-uppercase {text-transform: uppercase;}
.hidden {display: none;}
:root {
    --primary: #007cbf;
}
.btn {background: var(--primary);color: #fff;padding: 10px 30px;border-radius: 30px; text-decoration: none; transition: 0.3s; display: inline-block;}
.btn:hover {background-color: black; transition: 0.3s;}


/* HEADER STYLES */
.header-section {position: fixed; width: 100vw; transition: 0.3s;}
.header-section a.logo {display: block; height: 55px;}
.header-section a.logo img {height: 100%;}
.header-section.scrolled {background-color: white; transition: 0.3s; }
.header-section.scrolled .container p, .header-section.scrolled .container li, .header-section.scrolled .container .row .search i {color: black;}
.header-section .logo-col {display: flex; align-items: center;}
.header-section .logo-col img {height: 55px;}
.header-section .row {width: 100%; justify-content: space-between; }
.header-section .row .nav-list  {gap: 20px; align-items: center;}
.header-section ul li {list-style: none;}
.header-section .row li.nav-item {color: white; text-decoration: none; list-style: none; cursor: pointer; transition: 0.3s; padding: 40px 0; box-sizing: border-box; border-bottom: 4px solid transparent;}

.header-section.scrolled .row li.nav-item { color: black;}
.header-section .row li.nav-item:hover, .header-section .row li.nav-item.active {color: var(--primary); transition: 0.3s; border-bottom: 4px solid var(--primary); box-sizing: border-box; }
.header-section .row .search i {color: white; font-size: 20px;}
.header-section .row .nav-col  {display: flex; align-items: center;}
.header-section .row .search  {display: flex; align-items: center; gap: 10px; position: relative; }
.header-section .row .search .search-box {cursor: pointer; display: flex; height: 100%;}
.header-section .row .search .search-box button {background: transparent; border: none;}
.header-section .row .search-box input {display: none;  color: white;border: none; right: calc(100% - 20px);  background-color: transparent; position: absolute; height: calc(100% - 3px); padding-left: 5px; }
.header-section .row .search-box input::placeholder {color: white;}
.header-section.scrolled .row .search-box input::placeholder {color: black;}
.header-section .row .search-box input:focus { outline: none;}
.header-section .row .search-box:hover input {display: block; border-bottom: 1px solid white;}
.header-section.scrolled .row .search-box:hover input {background: white; border-bottom: 1px solid grey; color: black;}
.header-section .row .search-box:hover { display: flex; right: 150px; background: transparent;}
.header-section.scrolled .search-box:hover {background-color: white; }
.header-section .row .search-box i {cursor: pointer; position: relative; z-index: 6;}
.header-section .modal {position: absolute; text-align: left; top: 116px; width: 80vw; max-width: 1200px;   left: 50%;transform: translateX(-50%); background: white;}
.header-section .modal .col {width: 25%; padding: 20px;}
.header-section .modal .title-col { padding-bottom: 80px; display: flex; flex-direction: column; gap: 20px; background: #f3f3f3;}
.header-section .modal .title-col img {width: 100%; height: auto; }
.header-section .modal .title-col .btn {align-self: start;}
.header-section .modal .categories-col {background: #fafafa; padding: 20px 0;}
.header-section .modal .categories-col li {padding: 10px 20px; margin-bottom: 0;}
.header-section .modal .categories-col li i {margin-left: 5px;}
.header-section .modal .categories-col li:hover { font-weight: 700;cursor: pointer; background-color: #f3f3f3;}
.header-section .modal .categories-col li.active {font-weight: 700;}
.header-section .modal .links-col {width: 50%; }
.header-section .modal ul li {margin-bottom: 10px;}
.header-section .modal .links-col ul {display: none; flex-wrap: wrap; justify-content: space-between; row-gap: 5px;}
.header-section .modal .links-col ul.active {display: flex;}
.header-section .modal .links-col ul li {width: 50%; padding-bottom: 10px; }
.header-section .modal .links-col ul li a {color: black; border-bottom: 3px solid white; transition: 0.3s;}
.header-section .modal .links-col ul li:hover a {border-bottom: 2px solid var(--primary); transition: 0.3s;}
.header-section .modal {display: none;}
.header-section .modal.active {display: block;}
.header-section .modal #modal-close {font-size: 25px; position: absolute; left: calc(100% - 30px); top: 10px; cursor: pointer;}



/* BANNER STYLES */

.banner-intern {height: 100vh}
.banner-intern .d-flex {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; height: inherit; max-width: 70%; width: 840px; height: 100%; gap: 20px; color: white;}
.banner-intern.about-background {background-image: url(https://latam.rednodo.com/public/frontend/images/about-us-page/about-background.jpg); background-size: cover; }
.banner-intern .container {height: 100%;}
.banner-intern .d-flex p {font-size: 25px; width: 600px; max-width: 65%; line-height: 1.2;}